<nav class="navbar navbar-default" role="navigation" ng-cloak ng-show="DEBUG_INFO_ENABLED">
	<div class="container">
		<div class="navbar-header voffset2">
			<div class="navbar-brand logo">
				<p class="label label-primary" translate="home.subtitle" ng-show="DEBUG_INFO_ENABLED">development mode</p>
			</div>
		</div>
		<div class="navbar-collapse">
			<div class="navbar-right voffset3">
				<span class="navbar-version">v{{VERSION}}</span>
			</div>
		</div>
	</div>
</nav>
